.header {
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  background: #0b1ea8;
  color: white;

  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.logoArea {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}

.subtitulo {
  font-size: 0.75rem;
  opacity: 0.8;
  margin-top: 2px;
}

.creditos {
  font-size: 0.8rem;
  opacity: 0.75;
  font-weight: 500;
}